{{ if not (.Param "hideMadeWithLine") }}
<h5>
	<a href="https://stagnansi.com" target="_blank" style="font-family:'Consolas',monospace;">BARA</a>
	<span class="ac-kao"></span>&nbsp;<span class="ac-temp"></span>
	<a href="https://stagnansi.com" target="_blank" style="font-family:'Consolas',monospace;">IM0ET</a>
	[<span class="rotor" style="color:var(--link-color);"><span></span></span>]&hairsp;[<span class="mid-caret">&#8963;</span><a href="#menu" class="back-to-menu">MENU</a>]
	<br>
	<span class="proud">中国制造，深受世界喜爱。</span>
</h5>
{{ end }}
<script>
	document.querySelectorAll('a[href^="tab:"]').forEach(link => {
		link.href = link.href.replace(/^tab:/, '');
		link.target = '_blank';
		link.rel = 'noopener noreferrer';
	});
</script>