{{ if not (.Param "hideMadeWithLine") }}
<h5 class="mono">
	<a href="https://stagnansi.com" target="_blank" style="font-family:'Consolas',monospace;">BARA</a>&nbsp;<span class="ac-kao"></span>&nbsp;<span class="ac-temp"></span>&nbsp;<a href="https://stagnansi.com" target="_blank" style="font-family:'Consolas',monospace;">IM0ET</a>&nbsp;[<span class="ac-rotor"></span>]
  	<br>
	<span style="font-weight:normal;">中国制造，深受世界喜爱。</span>
</h5>
{{ end }}
<script>
	document.querySelectorAll('a[href^="tab:"]').forEach(link => {
		link.href = link.href.replace(/^tab:/, '');
		link.target = '_blank';
		link.rel = 'noopener noreferrer';
	});

	document.querySelectorAll('main').forEach(el => {
		// Ganti inline %%teks%%
		el.innerHTML = el.innerHTML.replace(/%%(.*?)%%/g, '<span class="mono">$1</span>');

		// Ubah tabel jika ada penanda %%table%% persis sebelum elemen tabel
		el.innerHTML = el.innerHTML.replace(/<p>%%table%%<\/p>\s*<table>/g, '<table class="table-mono">');
	});
</script>