<hr>
<!-- Tangkap konteks halaman saat ini -->
{{- $currentPage := . -}}

<div class="nav-grid">
  {{- range .Site.Menus.main -}}
    {{- if ne .Name "Home" -}}
      {{/* Cek apakah URL menu sama dengan halaman yang sedang dibuka */}}
      {{- $isActive := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq $currentPage.RelPermalink .URL) -}}
      <span class="nav-item{{ if $isActive }} active{{ end }}">
        <b class="kurung">[</b><a href="{{ .URL }}">{{ .Name | upper }}</a><b class="kurung">]</b>
      </span>
    {{- end -}}
  {{- end -}}
</div>
<hr>